################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/.vs/BankoApi
/BankoApi/obj/*
/.vs/ProjectEvaluation
/BankoApi/bin/Debug/net9.0
